---
- name: Debian block
  when: ansible_facts['os_family'] == 'Debian'
  block:
  - name: Check brew command
    command: /bin/bash -lc "type brew"
    register: homebrew_type_brew_result
    check_mode: false
    failed_when: false
    changed_when: false

  - name: Set brew_exist
    set_fact:
      homebrew_brew_exist: "{{ homebrew_type_brew_result.rc == 0 }}"

  - name: Install block
    when: not homebrew_brew_exist
    block:
    - name: Download homebrew install script  # noqa: command-instead-of-module
      shell: >
        curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
        -o /tmp/homebrew_install.sh && chmod "0755" /tmp/homebrew_install.sh
      args:
        creates: /tmp/homebrew_install.sh

    - name: Install homebrew
      command: /tmp/homebrew_install.sh
      environment:
        CI: "true"
      when: not ansible_check_mode
      changed_when: true

    - name: Write linuxbrew envs
      shell: /home/linuxbrew/.linuxbrew/bin/brew shellenv > ~/.linuxbrewrc
      register: homebrew_write_env
      changed_when: homebrew_write_env.rc != 0
      when: not ansible_check_mode
