---
- name: debian block
  block:
  - name: check brew command
    command: /bin/bash -lc "type brew"
    register: type_brew_result
    check_mode: false
    failed_when: false
    changed_when: false

  - name: set brew_exist
    set_fact:
      brew_exist: "{{ type_brew_result.rc == 0 }}"

  - name: install block
    block:
    - name: download homebrew install script  # noqa: command-instead-of-module
      shell: curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh -o /tmp/homebrew_install.sh && chmod 0755 /tmp/homebrew_install.sh
      args:
        creates: /tmp/homebrew_install.sh

    - name: install homebrew
      command: /tmp/homebrew_install.sh
      environment:
        CI: "true"
      when: not ansible_check_mode

    - name: write linuxbrew envs
      shell: /home/linuxbrew/.linuxbrew/bin/brew shellenv > ~/.linuxbrewrc
      register: write_env
      changed_when: write_env.rc != 0
      when: not ansible_check_mode
    when: not brew_exist
  when: ansible_facts['os_family'] == 'Debian'
