---
# zsh
- name: Install dependency packages for Debian
  apt:
    name:
      - zsh
      - curl
      - gawk
    update_cache: true
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Install dependency packages for Mac
  community.general.homebrew:
    name:
      - zsh
      - curl
      - gawk
      - coreutils
  when: ansible_facts['os_family'] == 'Darwin'
