---
- name: install dependency packages for Debian
  apt:
    name:
      - zsh
      - curl
      - gawk
    update_cache: yes
  become: yes
  when: ansible_facts['os_family'] == 'Debian'

- name: install dependency packages for Mac
  homebrew:
    name:
      - zsh
      - curl
      - gawk
  when: ansible_facts['os_family'] == 'Darwin'

- name: install zplug
  homebrew:
    name: zplug
  environment:
    PATH: "/home/linuxbrew/.linuxbrew/bin:{{ ansible_env.PATH }}"

- name: create symbolic link for zplug
  file:
    src: /home/linuxbrew/.linuxbrew/opt/zplug
    dest: ~/.zplug
    state: link

# TODO: show after command in handler
