---
- name: Install dependency packages for Debian
  apt:
    name:
      - peco
    update_cache: true
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Install dependency packages for Mac
  community.general.homebrew:
    name:
      - peco
  when: ansible_facts['os_family'] == 'Darwin'
