---
sudo: required
language: minimal
os:
  - linux
  - osx
dist: bionic
osx_image: xcode11.2
addons:
  apt:
    update: true
    packages:
      - shellcheck
      - python3
      - python3-pip
  homebrew:
    update: true
    packages:
      - shellcheck
      - python3
      - python3-pip
install:
  - sudo pip3 install setuptools --upgrade
  - sudo pip3 install vim-vint==0.3.18 ansible ansible-lint
before_script:
  - python3 --version
  - ansible --version
  - ansible-lint --version
  - vint --version
  - shellcheck --version
  - locale
script:
  - make dotfiles
  - make dependencies
  - make test
  - vint --color --style .vimrc
  - ansible-lint ansible/dotfiles.yml
notifications:
  email: false
  slack:
    secure: FGU/5fWTDnFwTRldkKClhrJkcPHD9AWOYweCg2R9j4SNZjw/YGEQhd5GSFXuK8tXCYAfST7GEq3TgC3s41ThPlxVCEDQacMcjdeKcoURsmA56cXaq1wSHtT/4M37R0X7fPwPCtbu03PCWs/NvjwwscVkDQ7YplVFWLslIwXFk855A8VFXNZiUQwDsNxiD8vz4cRvKZvIAid68XgcTDTh1qs7zmMFks6PRWpWEX6PAvtsQ2RSKwM3DbQCCEQAMvEEynLYc8N4oPWBMC2idWWk2/k9mo4gE/wJSrqfA9SmFwgZ8AIaPjcsW4OnxUeF3V85vwchDCWoHddNNhwtSEwbIj22lH77aEDHoCI+4o8T8ISWPd9dYf1vA8gwoK/4z6dk8N6er/nY1mvi4tmwgRPPUJVCZ6hLFXJ2yPwzBEpxlswhZ5NrVM1PTQ1LveV5nfo9kXcWd05OG4YcNDptufH7rpDwwPGUlfXlkun41kTt3sPztJ6PnUyPcaK5KaWzz/mLseQMDh58FisdPpiZeCwGeUs7YPw07jNGJM1hR8adD218d1P/n6Hw0UZ4seZKqBixpWAKg8lLDC6rHfGtYxg4eGX9sa2brwyvpEMUumXCf28T153kmWMMoHGqnM/9kM2sAfSAupSOZXkVt1DphDP+vxZu+syIC2F1NvyI89FVn7U=
