---
- name: Check cargo dir
  stat:
    path: ~/.cargo
  register: rust_cargo

- name: Install block
  when: not rust_cargo.stat.exists
  block:
  - name: Download rustup script
    get_url:
      url: https://sh.rustup.rs
      dest: /tmp/rustup.sh
      mode: "0755"
  - name: Run rustup script  # noqa: command-instead-of-shell
    shell: /tmp/rustup.sh -y
    register: rust_rustup
    changed_when: rust_rustup.rc != 0
