---
- name: install packages for asdf
  apt:
    name:
      - zlib1g-dev
      - libbz2-dev
      - libreadline-dev
      - libssl-dev
      - libsqlite3-dev
      - libffi-dev
  become: true
  when: ansible_facts['os_family'] == 'Debian'

# TODO: install asdf for Debian

- name: install asdf for Mac
  homebrew:
    name:
      - asdf
  when: ansible_facts['os_family'] == 'Darwin'
