---
- name: List dotfiles
  find:
    path: "{{ playbook_dir }}/../"
    patterns: "^\\.(?!gitignore|travis|shellcheckrc|ansible-lint).*$"
    file_type: "file"
    use_regex: true
    hidden: true
  register: dotfiles_list

- name: Create symbolic link
  file:
    src: "{{ item.path }}"
    dest: "~/{{ item.path | basename }}"
    state: "link"
    force: true
  with_items: "{{ dotfiles_list.files }}"

- name: List dotdirs
  find:
    path: "{{ playbook_dir }}/../"
    patterns: "^\\.(?!(git|claude)).*$"
    file_type: "directory"
    use_regex: true
    hidden: true
  register: dotfiles_dotdirs

- name: List files
  find:
    paths: "{{ dotfiles_dotdirs.files | map(attribute='path') | list }}"
    file_type: "file"
    recurse: true
  register: dotfiles_files

- name: Create directory
  file:
    path: "~/{{ item.path | regex_replace(playbook_dir | dirname + '/') | dirname }}"
    state: directory
    mode: "0755"
  with_items: "{{ dotfiles_files.files }}"

- name: Create symbolic link
  file:
    src: "{{ item.path }}"
    dest: "~/{{ item.path | regex_replace(playbook_dir | dirname + '/') }}"
    state: "link"
  with_items: "{{ dotfiles_files.files }}"
