---
name: lint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install vim-vint==0.3.18 ansible ansible-lint
      - name: lint
        run: make lint
      - name: lint .zshrc
        uses: azohra/shell-linter@latest
        with:
          path: ".zshrc,.zsh/*.zsh"
      - name: shellchecl
        uses: ludeeus/action-shellcheck@master
