---
name: lint

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-python@v4.5.0
        id: python
        with:
          python-version: '3.8'
      - name: set python path
        run: echo -e "[defaults]\ninterpreter_python=${{ steps.python.outputs.python-path }}" > ansible/ansible.cfg
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install -r ansible/requirements.txt
      - name: lint
        run: make lint
      - name: lint .zshrc
        uses: azohra/shell-linter@latest
        with:
          path: ".zshrc,.zsh/*.zsh"
      - name: shellchecl
        uses: ludeeus/action-shellcheck@1.1.0
        with:
          version: v0.8.0
